<!-- sidebar.html -->
<div class="w-64 bg-gray-800 text-white fixed left-0 top-0 h-full">
    <div class="p-4">
        <a href="#" class="block text-lg font-bold mb-4">GreenCart</a>
        <a href="{% url 'supplier_dashboard' %}" class="block py-2 px-4 rounded hover:bg-gray-700">Dashboard</a>
        <a href="{% url 'generate_bill' %}" class="block py-2 px-4 rounded hover:bg-gray-700">Generate Bill</a>
        <!-- <a href="{% url 'restock_management' %}" class="block py-2 px-4 rounded hover:bg-gray-700">Order Management</a>
        <a href="{% url 'supplier_management' %}" class="block py-2 px-4 rounded hover:bg-gray-700">Supplier Management</a> -->
    </div>
</div>
